body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 90%;
}

#inventaire {
  position: fixed;       /* reste collé en bas */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;           /* les 10% restants */
  background-color: rgb(77, 77, 77);
  display: flex;         /* pour centrer le contenu */
  justify-content: center;
  align-items: center;
  color: white;          /* pour que le texte soit visible */
  font-weight: bold;
}