body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 82.5%;
}

#inventaire {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17.5%;
  background-color: rgb(77, 77, 77);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#image1 {
  grid-column: 1;
  object-fit: auto;
}

